{% agit.capability "" %}
{% agit.status "404" %}
{% block title %}{{ t("Page not found") }}{% endblock %}

<p>{{ t('The requested page could not be found. Please check the spelling of the address, or notify the owner of the referring web page.') }}</p>
